body {
  min-width: 1000px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(#aacbd3, #29a3f5);
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}
.accountSettings {
  width: 70%;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Top Bar */
.topbar {
  background-color: #212744;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 0.9rem;
}

.contactinfo {
  display: flex;
  align-items: center;
}
.contactinfo svg {
   /* Space between icon and text */
  margin-right: 8px;
  margin-left: 8px;
}

.subscribeinfo {
  flex-grow: 1;
  text-align: center;
}

.socialicons {
  display: flex;
  align-items: center;
}
.socialicons a {
  color: white;
  margin-left: 10px;
  font-size: 1.2rem;
  text-decoration: none;
}
.socialicons a:hover {
  color: #ccc;
}
/* Top Bar Done */

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logoTitle h1 {
  font-size: 1.8rem;
  color: #212744;
  font-weight: bold;
  margin: 0;
}

.navlinks {
  display: flex;
  align-items: center;
}
.navlinks a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}
.navlinks a:hover {
  color: #007bff;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.searchbar input {
  border: none;
  outline: none;
  margin-left: 10px;
}

.currentUserStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
}
.currentUserStatus .greeting {
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 2px;
}
.currentUserStatus .currentUserStatusInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: #007bff;
}
.currentUserStatus .currentUserStatusInfo .username {
  font-weight: bold;
}
.currentUserStatus .currentUserStatusInfo svg {
  font-size: 1.2rem;
  color: #007bff;
}
.currentUserStatus .currentUserStatusInfo .logout-icon:hover {
  color: #0056b3;
}

.menuContainer {
  position: relative;
}
.menuicon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #007bff;
}
.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 180px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 100;
  padding: 10px 0;
}
.dropdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dropdownMenu li {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dropdownMenu li:hover {
  background-color: #f5f5f5;
}
.dropdownMenu li svg {
  font-size: 1.2rem;
  color: #007bff;
}
.dropdownMenu a, .dropdownMenu Link {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: normal;
}
.dropdownMenu a:hover, .dropdownMenu Link:hover {
  color: #007bff;
}
.dropdownMenu a.active, .dropdownMenu Link.active {
  font-weight: bold;
  color: #007bff;
}
/* Navigation Bar Done */

/* logoPicture */
.logoPicture {
  display: block;
  margin: 0 auto 20px auto;
  width: 350px;
}

/* AccountSettingsHeader */
.accountSettingsHeader {
  text-align: center;
  margin-bottom: 50px;
}
.accountSettingsHeader h1 {
  font-size: 40px;
  color: #007BFF;
  margin-bottom: 0;
}
.accountSettingsHeader p {
  font-size: 16px;
  color: #666;
  margin-top: 0;
  margin-bottom: 20px;
}

/* AccountSettingsFormGroup */
.accountSettingsFormGroup {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.accountSettingsFormGroup label {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  color: #54a4e5;
  width: 150px;
}
.accountSettingsFormGroup label svg {
  margin-right: 5px;
  color: #007BFF;
}
.accountSettingsFormGroup input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #f8f8f8;
  color: #212121;
  transition: border-color 0.2s;
  margin-right: 50px;
  box-sizing: border-box;
  margin-right: 20px;
}
.accountSettingsFormGroup input:focus {
  border-color: black;
}
.placeholderLocked::placeholder {
  color: #54a4e5;
}
.placeholderEditable::placeholder {
  color: gray;
  font-weight: normal;
}
.placeholderLocked[type="password"]::placeholder {
  color: #54a4e5;
}
.placeholderEditable[type="password"]::placeholder {
  color: gray;
}
.disabledButton {
  background-color: gray !important;
  cursor: not-allowed;
}
.accountSettingsFormGroup button {
  padding: 8px 15px;
  margin-right: 20px;
  background-color: #007BFF;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.accountSettingsFormGroup button:hover {
  background-color: #0056b3;
}
/* ProfileImage Preview */
.centeredImage {
  justify-content: center;
  text-align: center;
}
.centeredImage img {
  margin-left: auto;
  margin-right: auto;
}
.profileImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileImagePreview {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-top: 20px;
  object-fit: contain;
}
/* Preferences Tags */
.selectedTagsContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #212121;
  box-sizing: border-box;
  margin-right: 20px;
}
.selectedTag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: 1px solid #007BFF;
  border-radius: 5px;
  color: #007BFF;
  cursor: pointer;
  transition: background-color 0.3s;
}
.noPreferences {
  color: #666;
}

/* Message */
.message {
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.loadingMessage {
  color: #2ab4cc;
  display: inline;
}
.errorMessage {
  color: red;
  display: inline;
}
.successMessage {
  color: rgb(41, 108, 208);
  display: inline;
}

/* ButtonContainer */
.buttonContainer button {
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.buttonContainer button:hover {
  background-color: #0056b3;
}

/* TagLibraryModal */
.showTagLibraryModal {
  position: absolute;
  top: calc(50% + 80px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  border: 2px solid #007BFF;
  z-index: 1000;
}
.showTagLibraryModalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  z-index: 1001;
  position: relative;
}
.tagButton {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  cursor: pointer;
}
.tagButton.selected {
  background-color: #007bff;
  color: white;
}

/* PasswordModal */
.passwordModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.passwordModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  text-align: center;
}
.passwordModalHeader {
  font-size: 24px;
  color: #007BFF;
  font-weight: bold;
  margin-bottom: 15px;
}
.passwordModalContent p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}
.passwordModalContent input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 80%;
  margin: 10px auto;
  display: block;
  background-color: #f8f8f8;
  color: #212121;
}
.passwordModalContent input:focus {
  border-color: #007BFF;
}
.passwordModalContent .passwordErrorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}
.passwordModalButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.passwordModalContent button {
  padding: 8px 15px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.passwordModalContent button:hover {
  background-color: #0056b3;
}

/* DeleteModal */
.deleteModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  text-align: center;
}
.deleteModalHeader {
  font-size: 24px;
  color: #007BFF;
  font-weight: bold;
  margin-bottom: 15px;
}
.deleteModalContent p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  color: red;
}
.deleteModalContent input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 80%;
  margin: 10px auto;
  display: block;
  background-color: #f8f8f8;
  color: #212121;
}
.deleteModalContent input:focus {
  border-color: #007BFF;
}
.deleteModalContent .deleteErrorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}
.deleteModalButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.deleteModalContent button {
  padding: 8px 15px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.deleteModalContent button:hover {
  background-color: #0056b3;
}
